* {
  color: #999999;
  margin: 0;

}

/*classes*/
.header {
  text-align: center;
}

.nav li {
  list-style: none;
  display: inline;
}

.nav a {
  color: #34B09E;
}

.nav li a:visited {
    color: #EE2BCC;
}

.nav li a:hover {
    color: #CC9B30;
}

.col-3 p {
  width: 30%;
  float: left;
  padding: 5px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.col-6 {
  width: 100%;
  float: left;
}

.main-image, .contact-image {
 text-align: center;
}

/*elements*/
body {
  padding :10px;
}

header {
  text-align: center;
  /*vertical-align: -100px;*/
}

img {
  max-width: 90%;
    }

body {
  background-color: #383838;
  left-margin: 20px auto;
  font-family: 'Indie Flower', cursive;
}

footer {
  clear: both;
  text-align: center;
}

footer p {
  color: #B03F34;
}

footer p a {
  color: #CC9B30;
}
small {
  color: #1D87CC;
  font-size: 1.5em;
}

/*Media query*/
@media (max-width: 800px) {
 .col-3 {
    width: 100%;
  }
}

@media (max-width: 500px) {
 body {
    background-color: #bac2d1;
  }
  small {
    font-size: 2em;
  }

}


/*intrinsic ratio set here*/
video-block {
  margin: 5em 0 1em 0;
  width: 100%;
  float: left;
  border: 2px blue solid;
}

video-holder {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

/*position the iframe inside the container*/
iframe {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*testing testing*/
.container {
  position: relative;
  height: 0;
  padding-bottom: 50%;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: red;
}


