<div class="row">
    <div class="col-1-of-2">
        <h3 class="heading">
          About
        </h3>
        <p class="paragraph">
          {{ site.description }}
        </p>
    </div>
    <div class="col-1-of-2">
      <div class="icon-box">
        <i class="devicon-css3-plain colored"></i>
        <i class="devicon-html5-plain-wordmark colored"></i>

        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-nodejs-plain-wordmark colored"></i>
        <i class="devicon-jquery-plain-wordmark"></i>

        <i class="devicon-react-original colored"></i>
        <i class="devicon-ruby-plain colored"></i>
        <i class="devicon-rails-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
        <i class="devicon-postgresql-plain-wordmark colored"></i>
      </div>

        <!-- <div class="composition">
            <img src="../assets/img/brooklyn_bridge.jpg" alt="Photo 1" class="composition__photo">
            <img src="../assets/img/graffiti.jpg" alt="Photo 2" class="composition__photo">
            <img src="../assets/img/sunset.jpg" alt="Photo 2" class="composition__photo">

        </div> -->
    </div>

</div>
