<header>
    <div id="container">
        <div id="header-intro">
            <p>{{ site.username }}</p>
            <p>{{ site.title }}</p>
            <p>{{ site.description }}</p>
        </div>

        <div id="header-icons">
            <i class="devicon-css3-plain colored"></i>
            <i class="devicon-html5-plain-wordmark colored"></i>

            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-nodejs-plain-wordmark colored"></i>
            <i class="devicon-jquery-plain-wordmark"></i>

            <i class="devicon-react-original colored"></i>
            <i class="devicon-ruby-plain colored"></i>
            <i class="devicon-rails-plain-wordmark colored"></i>
            <i class="devicon-sass-original colored"></i>
            <i class="devicon-postgresql-plain-wordmark colored"></i>
        </div>

        <ul id="header-media">
            <a class="scroll" href="#"><li class="linkedin">linkedin</li></a>
            <a class="scroll" href="#"><li class="github">Github</li></a>
            <a class="scroll" href="#"><li class="twitter">Twitter</li></a>
        </ul>


      </div>

      <a class="down" href="#about" data-scroll><i>Down</i></a>

    </div>

</header>
