<header class="header" id="header ">
    <div class="header__logo-box">
        <!-- <img class="header__logo" src="../assets/img/generic-person.jpg" alt="logo"> -->
    </div>

    <div class="header__text-box">
        <h1 class="header-primary">
            <span class="heading-primary--main">{{ site.username }}</span>
            <span class="heading-primary--sub">{{ site.title }}</span>
        </h1>
        <a href="#projects" class="btn btn-white btn--animate scroll"><span class="btn-text fa fa-arrow-down"></span></a>
    </div>

</header>
