<div class="icon-box">
    <i class="devicon-css3-plain colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>

    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-jquery-plain-wordmark"></i>

    <i class="devicon-react-original colored"></i>
    <i class="devicon-ruby-plain colored"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
</div>

<nav>
    <ul class="media-box">
        <li>
            <a class="media-link" href="https://www.linkedin.com/in/samory-harris-54a889100/" target="_blank">Linkedin</a>
        </li>
        <li>
            <a class="media-link" href="https://github.com/Samory070" target="_blank">Github</a>
        </li>
        <li>
            <a class="media-link" href="#" target="_blank">Twitter</a>
        </li>
    </ul>

</nav>
