<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="nav-toggle">

    <label for="nav-toggle" class="navigation__button"><span class="fa fa-bars"></span></label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <a href="#header" class="navigation__close"></a>
        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link" href="https://www.linkedin.com/in/samory-harris-54a889100/" target="_blank">Linkedin</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="https://github.com/Samory070" target="_blank">Github</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="#" target="_blank">Twitter</a>
            </li>
        </ul>
    </nav>

</div>
