
<div class="row" id="projects">
    <div class="col-1-of-4">
        <div class="project-box">
            <i class="project-box__icon icon-basic-calculator"></i>
                <h3 class="heading">Rain Maker</h3>
            <p class="project-box__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi vero alias, ea iste fugit, similique porro.
            </p>
        </div>
    </div>

    <div class="col-1-of-4">
        <div class="project-box">
            <i class="project-box__icon icon-basic-todo-pen"></i>
                <h3 class="heading">Rain Maker</h3>
            <p class="project-box__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi vero alias, ea iste fugit, similique porro.
            </p>
        </div>
    </div>

    <div class="col-1-of-4">
        <div class="project-box">
            <i class="project-box__icon icon-basic-server"></i>
                <h3 class="heading">Rain Maker</h3>
            <p class="project-box__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi vero alias, ea iste fugit, similique porro.
            </p>
        </div>
    </div>

    <div class="col-1-of-4">
        <div class="project-box">
            <i class="project-box__icon     icon-basic-todo-pen"></i>
                <h3 class="heading">Rain Maker</h3>
            <p class="project-box__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi vero alias, ea iste fugit, similique porro.
            </p>
        </div>
    </div>
</div>
