// @import 'base'
// @import 'comopnents'
// @import 'layouts'
// @import 'modules'

// @mixin clearfix {
//
// }
//
// @include clearfix

$color-primary-light: #7ed56f;
$color-priamry-medium: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffbf00;
$color-secondary-dark: #ff6b00;

$color-blue-light: #00bde7;
$color-blue-dark: #03576a;


$color-grey-light: #999;
$color-grey-medium: #777;
$color-grey-dark: #333;
$color-black: #000;
$color-white: #fff;



/*
border-box adds padding and border total width of box
 */

//RESET
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* set font size to %, divide 10 by 16 */
}
body {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-medium;
    padding: 3rem;

}

// HEADER
#header-intro{
    color: $color-white;
}

.icon-box { font-size: 6rem; }

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)), url("/assets/img/colorado.jpg");
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 5% 100%);
    position: relative;
}


.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%); /* Shifted 50%(w x h) no longer related to parent element */
    text-align: center;
}

.header-primary {
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 2.5rem;

    animation: moveInLeft 2s ease-out
      /* animation-delay: 1s; */
}

.heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1.55rem;

    animation: moveInRight 2s ease-out;
    /* animation-delay: 1s; */
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);

    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);

    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(3rem);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// BUTTON
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.btn:active {
    transform: translateY(-.2rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.25);
}

.btn-white {
    background-color: $color-white;
    color: $color-grey-medium ;
}

.btn::after {
  content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animate {
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}
.navigation {
    &__checkbox {
      display: none;
    }
    &__button {
      color: $color-white;
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 6rem;
      right: 6rem;
      border-radius: 50%;
      z-index: 2000;
    }
    &__backgound {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 6.5rem;
      right: 6.5rem;
      background-image: radial-gradient($color-blue-light, $color-blue-dark);
      z-index: 1000;
      transform: scale(50);
    }
    &__nav {
      height: 100vh;
      width: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1500;
    }
    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
    }
    &__item {
      margin: 1rem;
    }
    &__link {
      &:link,
      &:visited {
        display: inline-block;
          font-size: 3rem;
          font-weight: 400;
          padding: 1rem 2rem;
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
          background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50% );
          background-size: 230%;
          transition: all .4s;
      }
      &:hover,
      &:active {
          background-position: 100%;
          color: $color-priamry-medium;
          translae: 1rem;
      }

    }
}
// .navigation__nav {
//   margin: 3rem;
//   &:hover {
//     color: $color-blue-light;
//   }
// }
//
// .navigation__nav::after {
//   content: '';
//   clear: both;
//   display: table;
// }
//
// .navigation__list {
//   float: left;
// }
//
//  .navigation__list li {
//     list-style: none;
//     display: inline-block;
//     margin: 3;
// }
//
// .navigation__list li:first-child {
//     margin: 0;
// }
//
// .navigation__list li a {
//     text-decoration: none;
//     text-transform: uppercase;
//     color: $color-grey-medium;
// }



// FOOTER
.footer-box {
    margin-top: 10rem;
    background-color: $color-grey-dark;
    text-align: center;
    height: 5vh;
}



//PROJECTS

.project-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    // transform: skewY(7);

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-blue-light, $color-blue-dark);
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover {
        transform: translateY(1.5rem) scale(1.03);
    }
}


// SECTION
.section-projects {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-blue-light, 0.7), rgba($color-blue-dark, 0.7)), url("/assets/img/brooklyn_bridge.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10vh;

  & > * {
    transform: skewY(7deg);
  }
}

.section-about {
  background-color: $color-grey-light;
  color: $color-white;
  padding: 25rem 0;
  margin-top: 15vh;
  text-align: center;
}
