<!DOCTYPE html>
<html lang="en">
    <head>
      {% include head.html %}
    </head>

    <body>
  <!-- {{ content }} -->
        <section class="section-nav">
            {% include nav.html %}
        </section>

        {% include header.html %}

        <section class="section-about">
            {% include about.html %}
        </section>

        <section class="section-projects">
            {% include projects.html %}
        </section>

        <section class="footer">
            {% include footer.html %}
        </section >
    </body>
</html>
